@font-face {
  font-family: 'Inter';
  src: url(../src/assets/fonts/Inter-Regular.ttf);
}
.App {
  text-align: center;
  font-family: 'Inter';
  overflow-x: hidden;
}

.errormsg{
color: red;
}

.phoneInput .PhoneInput{
  width: 61%;
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
}
.phoneInput .PhoneInputCountry{
  min-width: 20%;
  height: 52px;
  border: 1px solid lightgray;
  justify-content: center;
  border-radius:4px;
}
.phoneInput .PhoneInputInput{
  min-width: 79%;
  height: 37px;
  border-radius:4px;
  padding: 8px 12px;
  font-weight: 400;
  font-size: 16px;
  color: #787373;
  border:1px solid lightgray;

}
.phoneInput .PhoneInputInput:focus{
  border:1px solid #007bff;
}
.phoneInput .PhoneInputCountryIcon{
  width: 2rem;
  height: 1.5rem;
  }

  .phoneInput .errorbox{
  border:1px solid red
  }
  @media (min-width: 260px) and (max-width: 1311px){
    .phoneInput .PhoneInput{
      width: 91%;
      margin-left: -3px;
      align-items: center;
      justify-content: center;
    }
    .phoneInput .PhoneInputCountry{
      min-width: 20%;
      height: 52px;
      border: 1px solid lightgray;
      justify-content: center;
      border-radius:4px;
    }
    .phoneInput .PhoneInputInput{
      min-width: 49%;
      height: 37px;
      border-radius:4px;
      padding: 8px 12px;
      font-weight: 400;
      font-size: 16px;
      color: #787373;
      border:1px solid lightgray;
    }
    .phoneInput .PhoneInputInput:focus{
      border:1px solid #007bff;
    }
    .phoneInput .PhoneInputCountryIcon{
      width: 2rem;
      height: 1.5rem;
      }
    }

    .stripe-form {
      width: 100%;
    }

    .input-element-container {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding-top: 18px;
      padding-left: 18px;
      padding-bottom:16px;
    }
    .vertical-hr {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 1em;
      border: none;
      border-right: 1px solid white;
      height: 30px;
      position: relative;
    }